<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="input-append">
	<form action="{{ site.mailchimp }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div class="mc-field-group">
			<input class="span5 offset2" type="email" placeholder="Email Address" name="EMAIL" class="" id="mce-EMAIL">
			<input type="hidden" name="SOURCE" id="mce-SOURCE" value="{{ page.url }}">
			<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success">Remind Me</button>
		</div>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>
	</form>
</div>

<!--End mc_embed_signup-->
